<header class="topbar">
  <div class="topbar__inner">
    <a class="logo"routerLink="/home">
        <img src="/images/cornershop-logo.jpg" alt="CornerShop"></a>

    <nav class="nav">
      <a routerLink="/products" routerLinkActive="=active">Products</a>
      <a routerLink="/cart" *ngIf="auth.isLoggedIn()" routerLinkActive="active" class="pill">
            Cart <span class="badge" *ngIf="cartCount > 0">{{cartCount}}</span>
</a>
    </nav>

    <span class="nav" *ngIf="!auth.isLoggedIn()">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </span>
    <span class="user-menu" *ngIf="auth.isLoggedIn()">
        <span class="user-label">👤 Hi, {{displayName}} ▼</span>
         <div class="dropdown">
            <a href="#" (click)="logout(); $event.preventDefault()">Logout</a>
         </div>
         
    </span>
  </div>

</header>
<main class="page">
  <router-outlet></router-outlet>
</main>
