.card{
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    background: white;
}

img{
    width: 100%;
    height: 140px;
    object-fit: contain;
}

.view{
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: 300;
  color: Black;
  border: 1px solid #ebeac1;;
  background: #ebeac1;
  border-radius: 12px;

}

.body{
    padding: 12px;
}

.price{
    font-weight: 700;
    margin: 6px 0 10px 0;
}