
<app-auth-layout>
   <div class="page">
      <h2>Sign In</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
      <label> 
      <span>Email</span> <input type="email" formControlName="email" placeholder="you@example.com">
      </label> 
      <div class="field-error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
         Enter a valid email. 
         <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required
         </div>
      </div>
      <label>
         <span>Password</span> 
         <div class="pw"> <input [type]="showPassword? 'text' : 'password'" formControlName="password" placeholder="............"/>
             <button type="button" class="pw_toggle" (click)="showPassword = !showPassword"> 
                {{showPassword ? 'Hide' : 'Show'}}</button> </div>
      </label>
      <div class="field-error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"> 
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
        <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</div>
         </div>

      <div class="row">
                <label class="remember">
                    <input type="checkbox" formControlName="rememberMe" /> Remember me
                </label>
            </div>
   
        <a class="link" >Forgot Password?</a>
         
      <div class="error" *ngIf="error">{{error}}</div>
      <button class="btn" type = "submit" [disabled]="loginForm.invalid || loading"> {{loading? 'Signing in...':'Login'}} 
      </button> 

      <p class="small">
                Don't have an account?
                <a class="link" routerLink="/register">create one</a>
            </p>

      </form> 
   </div>
</app-auth-layout>